@import "tailwindcss";

@theme inline {
  --spacing: 1px; 
  --font-open-sans: var(--font-open-sans);
  --font-podcast: var(--font-podcast);
  --color-main-orange: #FA8B02;
  --color-main-text: #333333;
}
